<h2>Registration</h2>
<div class="col-md-6">
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" formControlName="Email">
            <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email address.</label>
        </div>
        <div formGroupName="Passwords">
            <div class="form-group required">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="Password">
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
            </div>
            <div class="form-group required">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="ConfirmPassword">
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
                <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-lg btn-dark" [disabled]="!service.formModel.valid">Sign Up</button>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Welcome to the Angular Sketchpad!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Click in the space below to draw with your mouse.</p>
                    <p>Type "c" on your keyboard to clear the screen.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="sketch-container">
                        <div id="sketch-holder"></div>
                    </div>
                </div>
            </div>
        </div>