<div class="conteiner">
    <div class="text-conteiner">
        <h1>Вітаємо в ADonnu</h1>
        <div class="description">
            <p>ADonnu - це сервіс, який дозволяє автоматизувати бізнес-процеси на кафедрі</p>
            <p>Після входу ви можете заповнити інформацію про себе натиснувши на "Особистий кабінет"</p>
            <p>Вона знадобиться у майбутньому для автозаповнення документів</p>
        </div>
    </div>
    <img src="assets/imgs/logofipt2020-1.png" width="555" height="555">
</div>