<div class="page_wrapper">
  <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmitUpdate(form)">
    <div class="form_wrapper">
      <div class="col-md-6">
          <div class="form-group">
              <label>Email</label>
              <input class="form-control" [disabled]="true" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email">
          </div>
          <div class="form-group">
              <label>Ім'я</label>
              <input type="form-control" class="form-control" #Name="ngModel" name="Name" [(ngModel)]="formModel.Name">
          </div>
          <div class="form-group">
              <label>Прізвище</label>
              <input type="form-control" class="form-control" #Surname="ngModel" name="Surname" [(ngModel)]="formModel.Surname">
          </div>
          <div class="form-group">
              <label>По-батькові</label>
              <input type="form-control" class="form-control" #MiddleName="ngModel" name="MiddleName" [(ngModel)]="formModel.MiddleName">
          </div>
          <div class="form-group">
              <label>Курс</label>
              <input type="form-control" class="form-control" #Course="ngModel" name="Course" [(ngModel)]="formModel.Course">
          </div>
          <div class="form-group">
              <label>Група</label>
              <input type="form-control" class="form-control" #Group="ngModel" name="Group" [(ngModel)]="formModel.Group">
          </div>
          <div class="form-group">
              <label>Факультет</label>
              <input type="form-control" class="form-control" #Faculty="ngModel" name="Faculty" [(ngModel)]="formModel.Faculty">
          </div>
          <div class="form-group">
              <label>Форма навчання</label>
              <input type="form-control" class="form-control" #EducationForm="ngModel" name="EducationForm" [(ngModel)]="formModel.EducationForm">
          </div>
          <div class="form-group">
              <label>Форма фінансування</label>
              <input type="form-control" class="form-control" #FinancingForm="ngModel" name="FinancingForm" [(ngModel)]="formModel.FinancingForm">
          </div>
          <div class="form-group">
              <label>Навчальна ступінь</label>
              <input type="form-control" class="form-control" #EducationDegree="ngModel" name="EducationDegree" [(ngModel)]="formModel.EducationDegree">
          </div>
      </div>
      <div class="roles_wrapper">
        <div class="form-group">
          <h2>Ролі</h2>
            <div class="roles_option"><input type="checkbox" class="form-control" #AdminRole="ngModel" name="AdminRole"  [(ngModel)]="formModel.AdminRole"><p>Адмін</p></div>
            <div class="roles_option"><input type="checkbox" class="form-control" #TeacherRole="ngModel" name="TeacherRole"  [(ngModel)]="formModel.TeacherRole"><p>Викладач</p></div>
            <div class="roles_option"><input type="checkbox" class="form-control" #StudentRole="ngModel" name="StudentRole"  [(ngModel)]="formModel.StudentRole"><p>Студент</p></div>
        </div>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-dark">Оновити</button>
        </div>
    </div>
  </form>