<div class="page_wrapper">
    <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmitUpdate(form)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" [disabled]="true" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email">
            </div>
            <div class="form-group">
                <label>Ім'я</label>
                <input type="form-control" class="form-control" #Name="ngModel" name="Name" [(ngModel)]="formModel.Name">
            </div>
            <div class="form-group">
                <label>Прізвище</label>
                <input type="form-control" class="form-control" #Surname="ngModel" name="Surname" [(ngModel)]="formModel.Surname">
            </div>
            <div class="form-group">
                <label>По-батькові</label>
                <input type="form-control" class="form-control" #MiddleName="ngModel" name="MiddleName" [(ngModel)]="formModel.MiddleName">
            </div>
            <div class="form-group">
                <label>Курс</label>
                <input type="form-control" class="form-control" #Course="ngModel" name="Course" [(ngModel)]="formModel.Course">
            </div>
            <div class="form-group">
                <label>Група</label>
                <input type="form-control" class="form-control" #Group="ngModel" name="Group" [(ngModel)]="formModel.Group">
            </div>
            <div class="form-group">
                <label>Факультет</label>
                <input type="form-control" class="form-control" #Faculty="ngModel" name="Faculty" [(ngModel)]="formModel.Faculty">
            </div>
            <div class="form-group">
                <label>Форма навчання</label>
                <input type="form-control" class="form-control" #EducationForm="ngModel" name="EducationForm" [(ngModel)]="formModel.EducationForm">
            </div>
            <div class="form-group">
                <label>Форма фінансування</label>
                <input type="form-control" class="form-control" #FinancingForm="ngModel" name="FinancingForm" [(ngModel)]="formModel.FinancingForm">
            </div>
            <div class="form-group">
                <label>Навчальна ступінь</label>
                <input type="form-control" class="form-control" #EducationDegree="ngModel" name="EducationDegree" [(ngModel)]="formModel.EducationDegree">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-lg btn-dark">Оновити</button>
            </div>
        </div>
    </form>
    <div class="info_wrapper">
        <div class="text-conteiner">
            <h1>Вітаємо в особистому кабінеті</h1>
            <div class="description">
                <p>Тут ви можете заповнити або оновити свої дані, які будуть постійно використовуватись для створення заяв</p>
            </div>
        </div>
        <div class="faculty_icon">
            <img src="assets/imgs/logofipt2020-1.png" width="555" height="555">
        </div>
    </div>
</div>