<div class="page-wrapper">
    <form ngNativeValidate #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmitCreateRequest(form)">
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" [readonly]="true" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email">
            </div>
            <div class="form-group">
                <label>Ім'я</label>
                <input type="form-control" class="form-control" #Name="ngModel" name="Name" [(ngModel)]="formModel.Name" required>
            </div>
            <div class="form-group">
                <label>Прізвище</label>
                <input type="form-control" class="form-control" #Surname="ngModel" name="Surname" [(ngModel)]="formModel.Surname" required>
            </div>
            <div class="form-group">
                <label>По-батькові</label>
                <input type="form-control" class="form-control" #MiddleName="ngModel" name="MiddleName" [(ngModel)]="formModel.MiddleName" required>
            </div>
            <div class="form-group">
                <label>Номер телефону</label>
                <input type="form-control" class="form-control" #Phone="ngModel" name="Phone" [(ngModel)]="formModel.Phone" required>
            </div>
            <div class="form-group">
                <label>Курс</label>
                <input type="form-control" class="form-control" #Course="ngModel" name="Course" [(ngModel)]="formModel.Course" required>
            </div>
            <div class="form-group">
                <label>Група</label>
                <input type="form-control" class="form-control" #Group="ngModel" name="Group" [(ngModel)]="formModel.Group" required>
            </div>
            <div class="form-group">
                <label>Факультет</label>
                <input type="form-control" class="form-control" #Faculty="ngModel" name="Faculty" [(ngModel)]="formModel.Faculty" required>
            </div>
            <div class="form-group">
                <label>Форма навчання</label>
                <input type="form-control" class="form-control" #EducationForm="ngModel" name="EducationForm" [(ngModel)]="formModel.EducationForm" required>
            </div>
            <div class="form-group">
                <label>Форма фінансування</label>
                <input type="form-control" class="form-control" #FinancingForm="ngModel" name="FinancingForm" [(ngModel)]="formModel.FinancingForm" required>
            </div>
            <div class="form-group">
                <label>Навчальна ступінь</label>
                <input type="form-control" class="form-control" #EducationDegree="ngModel" name="EducationDegree" [(ngModel)]="formModel.EducationDegree" required>
            </div>
            <div class="form-group">
                <label>Спеціальність/освітня программа</label>
                <input type="form-control" class="form-control" #Speciality="ngModel" name="Speciality" [(ngModel)]="formModel.Speciality" rows="3" required>
            </div>
            <div class="form-group">
                <label>Причина оформлення</label>
                <textarea type="form-control" class="form-control" #Reason="ngModel" name="Reason" [(ngModel)]="formModel.Reason" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="start">Початок інд. графіку</label>
                <input type="date" class="form-control" id="start" #StartDate="ngModel" name="StartDate" [(ngModel)]="formModel.StartDate" min="2018-01-01" max="2099-12-31" required>
            </div>
            <div class="form-group">
                <label for="end">Кінець інд. графіку</label>
                <input type="date" class="form-control" id="end" #EndDate="ngModel" name="EndDate" [(ngModel)]="formModel.EndDate" min="2018-01-01" max="2040-12-31" required>
            </div>
            <div class="form-group">
                <label>Додатки до заяви</label>
                <input type="form-control" class="form-control" #Adds="ngModel" name="Adds" [(ngModel)]="formModel.Adds" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-lg btn-dark">Створити заяву</button>
            </div>
        </div>
    </form>

    <div class="sketch-wrapper">
        <div class="info_wrapper">
            <div class="text-conteiner">
                <h1>Вітаємо в кабінеті оформлення заяв</h1>
                <div class="description">
                    <p>Тут ви можете оформити заяву на надання вам індивідуального відвідування занять</p>
                </div>
            </div>
        </div>
        <div class="faculty_icon">
            <img src="assets/imgs/logofipt2020-1.png" width="555" height="555">
        </div>
        <table class='table table-striped' aria-labelledby="tableLabel">
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Викладач</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let subject of subjectsData; let i = index; trackBy: trackByIndex">
                    <tr>
                        <td>
                            {{subject.name}}
                        </td>
                        <td>
                            <select class="form-control" name="{{subject.name}}">
                                <option [ngValue]="teacher" *ngFor="let teacher of subject.teachers ">
                                    {{teacher.surname}} {{teacher.name}} {{teacher.middleName}} ({{teacher.email}})
                                </option> 
                            </select>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <label class="btn btn-dark" (click)="fileInput.value = null">
            Завантажте додатки
            <input
              #fileInput
              type="file"
              style="display: none"
              (change)="chooseFile(fileInput.files)"
              multiple
            />
        </label>
        <div *ngIf="selectedFiles && selectedFiles.length">
            <div *ngFor="let item of selectedFiles" class="d-flex justify-content-between flex-wrap bg-light text-primary">
                <div>{{ item.name }}</div>
            </div>
        </div>
        <div class="sketch-container">
            <h1>Поставте підпис</h1>
            <div class="description">
                <p>Цей підпис буде використано для заповнення документу у графі "Підпис"</p>
            </div>
            <div id="sketch-holder"></div>
            <button type="submit " class="btn btn-lg btn-dark " (click)="clearCanvas() ">Очистити підпис</button>
        </div>
    </div>
</div>