<h2>Погоджені заяви</h2>
<table class='table' aria-labelledby="tableLabel" *ngIf="approvedIndRequests">
    <thead class="thead-light">
        <tr>
            <th>Студент</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let approvedIndRequest of approvedIndRequests; let i = index">
            <td>{{approvedIndRequest.studentName}}</td>
            <td><button class="btn btn-outline-dark" (click)="downloadApprovedIndRequest(approvedIndRequest.filledRequestDownloadPath)">Завантажити заяву</button></td>
            <td><button class="btn btn-outline-info" (click)="downloadAdds(approvedIndRequest.addsDownloadPath)">Завантажити додатки</button></td>
        </tr>
    </tbody>
</table>