<div class="page_wrapper">
    <div class="col-md-6">
        <div class="text-conteiner">
            <h1>Реєстрація</h1>
            <div class="description">
                Зареєструйтесь щоб мати змогу користуватись ADonnu
            </div>
        </div>
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" formControlName="Email">
                <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email address.</label>
            </div>
            <div formGroupName="Passwords">
                <div class="form-group required">
                    <label>Пароль</label>
                    <input type="password" class="form-control" formControlName="Password">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
                </div>
                <div class="form-group required">
                    <label>Підтвердити пароль</label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-dark" [disabled]="!service.formModel.valid">Зареєструватись</button>
                </div>
            </div>
        </form>
    </div>
    <div class="info_wrapper">
        <div class="faculty_icon">
            <img src="assets/imgs/logofipt2020-1.png" width="555" height="555">
        </div>
    </div>
</div>