<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">ADonnu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <ng-container *ngIf="displayGuest; then guestHeader; else userHeader"></ng-container>
                    <ng-template #guestHeader>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/registration']">
                              Реєстрація
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/login']">
                                Вхід
                            </a>
                        </li>
                    </ng-template>
                    <ng-template #userHeader>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/account']">
                        Особистий кабінет
                      </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/requests']">
                        Заявки
                      </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/logout']">
                        Вихід
                      </a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</header>